{% extends "base.html" %}
{% block content %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Dar de baja a puesto</title>  
    {% load static %}  

</head>  
<body>  
<form method="POST" class="post-form">  
        {% csrf_token %}  
    <div class="container h-100">  
<br>  
    <div class="d-flex flex-grow-1 aligns-items-center justify-content-center">  
    <label class="col-sm-1 col-form-label"></label>  
    <div>  
    <h3>Dar de baja a puesto</h3>  
    </div>  
  </div>  
    <div class="d-flex flex-grow-1 aligns-items-center justify-content-center">  
    <label class="col-sm-2 col-form-label">ID de Puesto:</label>  
    <div>  
        <input type="text" name="id_puesto" id="id_eid" value="{{ puesto.id_puesto }}"/>  
    </div>  
  </div> 
  <div class="d-flex flex-grow-1 aligns-items-center justify-content-center">  
    <label class="col-sm-2 col-form-label">Causa de Baja:</label>  
    <div>  
        <input type="text" name="causa_baja" id="id_econtact" required/>  
    </div>  
  </div> 
  <div class="d-flex flex-grow-1 aligns-items-center justify-content-center">  
    <label class="col-sm-2 col-form-label">Empleado que da de Baja:</label>  
    <div>  
        <input type="text" name="empleado_baja" id="id_econtact" required/>  
    </div>  
  </div> 
  <div>  
    <input type="hidden" name="fecha_baja" id="id_econtact" required value="{{ puesto.fecha_baja|date:'Y-m-d' }}" />  
</div>  
<div>  
    <input type="hidden" name="estatus" id="id_econtact" required value="{{ puesto.estatus }}" />  
</div>  
  
<br />
    <div class="d-flex flex-grow-1 aligns-items-center justify-content-center"> 
      <center><a href="/puestos/" class="btn btn-primary">Menú principal</a></center> 
    <label class="col-sm-1 col-form-label"></label>  

    <button type="submit" class="btn btn-success">Dar de baja un puesto</button>  
    </div>  
  </div>

    <br />
    <div class="d-flex flex-grow-1 aligns-items-center justify-content-center">
      <div>
    <div>
    {% if messages %} {% for message in messages %}
    <div
      class="alert {{ message.tags }} alert-dismissible fade show d-flex aligns-items-center justify-content-center flex-grow-1"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %}
</div>
</div>
</form>  
</body>  
</html>  
{% endblock %}